@use '../variables/z-index' as *;
@use '../variables/typography' as *;
@use '../base/colors' as *;
@use '../base/spacing' as *;
@use '../variables/borders' as *;
@use '../variables/shadows' as *;
@use '../utilities/mixins' as *;
@use '../utilities/animations' as *;

// Modal backdrop
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.5);
  z-index: $z-index-modal-backdrop;
  @include animate(fade-in, 200ms);

  &--hidden {
    @include animate(fade-out, 200ms);
  }
}

// Modal container
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-modal;
  @include flex-center;
  padding: $spacing-4;

  &__dialog {
    background-color: $color-bg-default;
    border-radius: $border-radius-lg;
    box-shadow: $elevation-5;
    max-width: 500px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    @include animate(scale-in, 250ms);
  }

  &__header {
    padding: $spacing-4;
    border-bottom: $border-width-default solid $color-border-default;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
  }

  &__close {
    @include reset-button;
    width: 32px;
    height: 32px;
    border-radius: $border-radius-default;

    &:hover {
      background-color: $color-bg-hover;
    }
  }

  &__body {
    padding: $spacing-4;
  }

  &__footer {
    padding: $spacing-4;
    border-top: $border-width-default solid $color-border-default;
    display: flex;
    justify-content: flex-end;
    gap: $spacing-2;
  }
}
