@use '../variables/breakpoints' as *;

// Media query helper
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in $breakpoints map";
  }
}

// Max-width media query
@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: calc(map-get($breakpoints, $breakpoint) - 1px)) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$breakpoint}' not found in $breakpoints map";
  }
}

// Between two breakpoints
@mixin respond-between($lower, $upper) {
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
    @media (min-width: map-get($breakpoints, $lower)) and (max-width: calc(map-get($breakpoints, $upper) - 1px)) {
      @content;
    }
  }
}

// Hide/show at breakpoints
@mixin hide-from($breakpoint) {
  @include respond-to($breakpoint) {
    display: none !important;
  }
}

@mixin show-from($breakpoint) {
  display: none !important;

  @include respond-to($breakpoint) {
    display: initial !important;
  }
}
