// Border widths
$border-width-0: 0;
$border-width-default: 1px;
$border-width-2: 2px;
$border-width-4: 4px;
$border-width-8: 8px;

// Border radius
$border-radius-none: 0;
$border-radius-sm: 0.125rem; // 2px
$border-radius-default: 0.25rem; // 4px
$border-radius-md: 0.375rem; // 6px
$border-radius-lg: 0.5rem; // 8px
$border-radius-xl: 0.75rem; // 12px
$border-radius-2xl: 1rem; // 16px
$border-radius-3xl: 1.5rem; // 24px
$border-radius-full: 9999px;
