@use '../variables/typography' as *;

body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-normal;
  letter-spacing: $letter-spacing-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h1 {
  font-size: $font-size-4xl;
}

h2 {
  font-size: $font-size-3xl;
}

h3 {
  font-size: $font-size-2xl;
}

h4 {
  font-size: $font-size-xl;
}

h5 {
  font-size: $font-size-lg;
}

h6 {
  font-size: $font-size-md;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

code,
kbd,
samp,
pre {
  font-family: $font-family-mono;
  font-size: 0.9em;
}

strong,
b {
  font-weight: $font-weight-bold;
}

small {
  font-size: $font-size-sm;
}
